:root {
  --background-color-primary: #ffffff;
  --background-color-secondary: #f5f4fa;
  --background-color-accent: #2f303a;
  --background-color-button: #2196f3;
  --background-color-button-active: #188ce8;
  --background-color-overlay: rgba(33, 150, 243, 0.9);
  --color-primary: #757575;
  --color-secondary: #212121;
  --color-accent: #2196f3;
  --color-invert: #ffffff;
  --color-logo: #000000;
  --font-family-primary: "Roboto", sans-serif;
  --font-family-logo: "Raleway", sans-serif;
  --font-weight-header: 500;
  --font-weight-heading: 700;
  --font-weight-hero: 900;
  --font-size-form: 12px;
  --font-size-primary: 14px;
  --font-size-accent: 16px;
  --font-size-title: 18px;
  --font-size-modal: 20px;
  --font-size-logo: 26px;
  --font-size-heading: 36px;
  --font-size-hero: 44px;
}
body {
  background-color: var(--background-color-primary);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  color: var(--color-secondary);
  font-weight: var(--font-weight-header);
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.logo-first {
  color: var(--color-accent);
  font-family: var(--font-family-logo);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-logo);
  line-height: 1.2;
  text-decoration: none;
}
.logo-second {
  color: var(--color-logo);
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 93px;
}
.nav-list {
  display: flex;
  padding: 32px 0;
  gap: 50px;
}
.nav-list .current {
  position: relative;
  color: var(--color-accent);
}
.current::before {
  position: absolute;
  top: 45px;
  content: " ";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--background-color-button);
}
.nav-link {
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-accent);
}
.contact-list {
  display: flex;
  padding: 32px 0;
  gap: 50px;
}
.list-link {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-link:hover,
.list-link:focus {
  color: var(--color-accent);
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: var(--background-color-accent);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/hero-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-hero {
  text-align: center;
}
.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  color: var(--color-invert);
  font-weight: var(--font-weight-hero);
  font-size: var(--font-size-hero);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  padding: 10px 32px;
  background-color: var(--background-color-button);
  color: var(--color-invert);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-accent);
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--background-color-button-active);
}
.benefits {
  padding-bottom: 0;
}
.benefits-list {
  display: flex;
  gap: 30px;
}
.benefits-item {
  width: 270px;
}
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--background-color-secondary);
  border-radius: 4px;
  margin-bottom: 30px;
}
.section-title {
  margin-bottom: 50px;
  text-align: center;
  color: var(--color-secondary);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading);
  line-height: 1.17;
}
.benefits .item-title {
  margin-bottom: 10px;
  color: var(--color-secondary);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-primary);
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits .item-text {
  line-height: 1.71;
}
.section-list {
  display: flex;
  gap: 30px;
}
.service-item-wrapper {
  position: relative;
}
.service-item-title {
  position: absolute;
  bottom: 0px;
  width: 370px;
  padding: 27px 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-invert);
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-heading);
  line-height: 1.14;
  text-transform: uppercase;
}
.our-team {
  background-color: var(--background-color-secondary);
}
.memberteam-card {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.description-wrapper {
  margin: 30px 0;
  text-align: center;
  font-size: var(--font-size-accent);
  line-height: 1.19;
}
.memberteam-name {
  margin-bottom: 10px;
  color: var(--color-secondary);
  font-weight: var(--font-weight-header);
  font-size: var(--font-size-accent);
}
.social-link-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}
.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-item:hover,
.social-link-item:focus {
  background-color: var(--background-color-button);
  color: #ffffff;
}
.team-social-link {
  fill: currentColor;
}
.client-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link-item:hover,
.client-link-item:focus {
  border: 1px solid var(--background-color-button);
  color: var(--background-color-button);
}
.client-logo {
  fill: currentColor;
}
.footer {
  padding: 60px 0;
  background-color: var(--background-color-accent);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
  margin-right: auto;
}
.addres-wrapper {
  margin-right: 70px;
}
.logo-invert {
  color: var(--color-invert);
}
.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  color: var(--color-invert);
  text-decoration: none;
}
.contact-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--color-accent);
}
.social-list-title {
  margin-bottom: 20px;
  text-align: left;
  color: var(--color-invert);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-primary);
  line-height: 1.14;
  text-transform: uppercase;
}
.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--color-invert);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--background-color-button);
}
.subscribe-form {
  display: flex;
  align-items: baseline;
  gap: 12px;
}
.form-heading {
  margin-bottom: 20px;
  color: var(--color-invert);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-primary);
  line-height: 1.14;
  text-transform: uppercase;
}
.subscribe-input {
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: var(--font-size-accent);
  line-height: 1.25;
}
.subscribe-button-icon {
  fill: currentColor;
}
.subscribe-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 10px 28px;
  background-color: var(--background-color-button);
  color: var(--color-invert);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-accent);
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe-button:hover,
.subscribe-button:focus,
.subscribe-button:active {
  background-color: var(--background-color-button-active);
}
.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filter-button {
  padding: 6px 22px;
  background-color: var(--background-color-secondary);
  color: var(--color-secondary);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: var(--font-weight-header);
  font-size: var(--font-size-accent);
  line-height: 1.62;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: var(--background-color-button);
  color: var(--color-invert);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 295px;
  padding: 63px 24px;
  background-color: var(--background-color-overlay);
  color: var(--color-invert);
  font-size: var(--font-size-title);
  line-height: 1.5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus,
.portfolio-link:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-title {
  margin-bottom: 4px;
  color: var(--color-secondary);
  font-size: var(--font-size-title);
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-type {
  font-size: var(--font-size-accent);
  line-height: 1.88;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--background-color-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--background-color-primary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-button-icon {
  fill: currentColor;
}
.modal-button:hover,
.modal-button:focus {
  color: var(--color-accent);
}
.modal-form-heading {
  margin-bottom: 12px;
  text-align: center;
  color: var(--color-secondary);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-modal);
  line-height: 1.15;
}
.input-wrapper {
  position: relative;
  margin-bottom: 10px;
  color: var(--color-secondary);
}
.form-label {
  display: block;
  margin-bottom: 4px;
  color: var(--color-primary);
  font-size: var(--font-size-form);
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  color: var(--color-secondary);
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
  border-color: var(--color-accent);
}
.form-input:hover + .form-icon {
  fill: var(--color-accent);
}
.form-input:focus + .form-icon {
  fill: var(--color-accent);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-field {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-size: var(--font-size-form);
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-field:hover,
.comment-field:focus {
  border-color: var(--color-accent);
}
.agreement {
  display: flex;
  margin-bottom: 30px;
  gap: 7px;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
}
.checkbox {
  display: block;
}
.conditions-link {
  display: block;
  color: var(--color-accent);
}
.checked {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icons .checked {
  opacity: 1;
}
.checkbox:checked+.checkbox-icons .unchecked {
  opacity: 0;
}
.form-button {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
  background-color: var(--background-color-button);
  color: var(--color-invert);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-accent);
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus,
.form-button:active {
  background-color: var(--background-color-button-active);
}
