// reset styles
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
}

// global styles
body {
  background-color: var(--background-color-primary);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  letter-spacing: 0.03em;
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.btn {
  background-color: var(--background-color-button);
  color: var(--color-invert);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-accent);
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
